@page
@model CodeFirstSetup.Pages.MultiplyinputModel
@{
}

<form method="post">
    <div class="form-group">
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
        <input asp-for="EmailAddress" class="form-control m-md-3" placeholder="Email-addrress" />

        <span asp-validation-for="Text" class="text-danger"></span>
        <textarea cols="80" rows="5" asp-for="Text" class="form-control m-md-3" placeholder="Write questions here........."></textarea>

        <button type="submit" class="btn btn-light m-md-3">Send</button>
    </div>
</form>


